<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <httpClientEndpoints>
    <endpoint name="DocsaLabs.Http.Client.Google.Examples.StreetView.IStreetViewService" baseUrl="http://maps.googleapis.com/maps/api/streetview"/>
  </httpClientEndpoints>

</configuration>