<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <httpClientEndpoints>
    <endpoint name="put" baseUrl="http://httpbin.org/put" method="PUT"/>
    <endpoint name="basicUserAuthentication" baseUrl="http://httpbin.org/basic-auth/first/passwd42">
      <credential credentialType="NetworkCredential" user="first" password="passwd42"/>
    </endpoint>
    <endpoint name="digestAuthentication" baseUrl="http://httpbin.org/digest-auth/auth/first/passwd42">
      <headers>
        <add name="Cookie" value="auth"/>
      </headers>
      <credential credentialType="NetworkCredential" user="first" password="passwd42" />
    </endpoint>
  </httpClientEndpoints>

</configuration>