<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="plainWebBinding">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="DocaLabs.Test.Services.Proxy.TestServicesProxy">
        <endpoint address="http://localhost:6701/TestServicesProxy/"
                  binding="webHttpBinding"
                  bindingConfiguration="plainWebBinding"
                  behaviorConfiguration="webBehavior"
                  contract="DocaLabs.Test.Services.Proxy.ITestServicesProxy" />
      </service>
    </services>

  </system.serviceModel>

</configuration>