<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <httpClientEndpoints>
    
    <endpoint name="service1" 
              baseUrl="http://foo.bar/" 
              timeout="1000" 
              autoSetAcceptEncoding="false" 
              authenticationLevel="MutualAuthRequired">
      <credentials credentialsType="NetworkCredential" user="user1" password="password1" domain="domain1"/>
      <headers>
        <add name="x1" value="v1"/>
      </headers>
      <clientCertificates>
        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="some" />
      </clientCertificates>
      <proxy address="http://contoso.com/">
        <credentials credentialsType="NetworkCredential" user="user2" password="password2" domain="domain2"/>
      </proxy>
    </endpoint>

    <endpoint name="service2" timeout="2000" />
    
  </httpClientEndpoints>

</configuration>