<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <nlog autoReload="true">
    <targets>
      <target type="Console" name="Console" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Console" />
    </rules>
  </nlog>

  <httpClientEndpoints>
    
    <endpoint name="service1" baseUrl="" timeout="1000">
      <headers>
        <add name="" value=""/>
      </headers>
      <clientCertificates>
        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="worldpay.com" />
      </clientCertificates>
      <proxy address=""/>
    </endpoint>

    <endpoint name="DocaLabs.Http.Client.Tests.Factory.IMyServices.GetSmallData" baseUrl="" timeout="1000" />
    
  </httpClientEndpoints>

</configuration>