<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <httpClientEndpoints>
    
    <endpoint name="service11inExternalConfig" 
              baseUrl="http://foo.bar/" 
              timeout="11000" 
              autoSetAcceptEncoding="false" 
              authenticationLevel="MutualAuthRequired">
      <credential credentialType="NetworkCredential" user="user11" password="password11" domain="domain11"/>
      <headers>
        <add name="x11" value="v11"/>
      </headers>
      <clientCertificates>
        <certificateReference storeName="My" storeLocation="LocalMachine" x509FindType="FindBySubjectName" findValue="some" />
      </clientCertificates>
      <proxy address="http://contoso.com/">
        <credential credentialType="NetworkCredential" user="user22" password="password22" domain="domain22"/>
      </proxy>
    </endpoint>

    <endpoint name="service22inExternalConfig" timeout="22000" />
    
  </httpClientEndpoints>
  
</configuration>