<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <httpClientEndpoints>
    <endpoint name="basicUserAuthentication" baseUrl="http://httpbin.org/basic-auth/first/passwd42">
      <credentials credentialsType="NetworkCredential" user="first" password="passwd42"/>
    </endpoint>
    <endpoint name="digestAuthentication" baseUrl="http://httpbin.org/digest-auth/qop/first/passwd42">
      <credentials credentialsType="NetworkCredential" user="first" password="passwd42" />
    </endpoint>
  </httpClientEndpoints>

</configuration>