<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <!--<system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\docalabs\docalabs.http.client\tests\docalabs.http.client.integration.tests\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>

    <trace autoflush="true" />
  </system.diagnostics>-->

  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="plainWebBinding">
          <security mode="None"/>
        </binding>
        <binding name="plainWebBindingWithCredential">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
        <binding name="plainWebBindingWithCertificate">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="withBasicAuthentication">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="DocaLabs.Test.Services._WcfServices.CustomUserNameValidator, DocaLabs.Test.Services" />
          </serviceCredentials>
        </behavior>
        <behavior name="withCertificate">
          <serviceCredentials>
            <clientCertificate>
              <certificate storeName="My" storeLocation="LocalMachine" x509FindType="FindByThumbprint" findValue="e8098113318726c38bd03446831f33991fe25873"/>
              <authentication certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="LocalMachine"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <services>
      <service name="DocaLabs.Test.Services._WcfServices.TestService">
        <endpoint address="http://localhost:5701/TestService/"
                  binding="webHttpBinding"
                  bindingConfiguration="plainWebBinding"
                  behaviorConfiguration="webBehavior"
                  contract="DocaLabs.Test.Services._WcfServices.ITestService" />
      </service>
      <service name="DocaLabs.Test.Services._WcfServices.TestServiceWithBasicCredentials"
               behaviorConfiguration="withBasicAuthentication" >
        <endpoint address="http://localhost:5701/TestServiceWithBasicCredentials/"
                  binding="webHttpBinding"
                  bindingConfiguration="plainWebBindingWithCredential"
                  behaviorConfiguration="webBehavior"
                  contract="DocaLabs.Test.Services._WcfServices.ITestService2" />
      </service>
      <service name="DocaLabs.Test.Services._WcfServices.TestServiceWithCertificate"
               behaviorConfiguration="withCertificate" >
        <endpoint address="https://localhost:5705/TestServiceWithCertificate/"
                  binding="webHttpBinding"
                  bindingConfiguration="plainWebBindingWithCertificate"
                  behaviorConfiguration="webBehavior"
                  contract="DocaLabs.Test.Services._WcfServices.ITestService2" />
      </service>
    </services>

  </system.serviceModel>

</configuration>