<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="httpClientEndpoints" type="DocaLabs.Http.Client.Configuration.HttpClientEndpointSection, DocaLabs.Http.Client" />
  </configSections>

  <!--<system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\docalabs\docalabs.http.client\tests\docalabs.http.client.integration.tests\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>

    <trace autoflush="true" />
  </system.diagnostics>-->
  
  <httpClientEndpoints>
    
    <!-- WCF clients -->
    <endpoint name="simpleGetJsonCall" baseUrl="http://localhost:5701/TestService/GetAsJson"/>
    <endpoint name="simpleGetXmlCall" baseUrl="http://localhost:5701/TestService/GetAsXml"/>
    <endpoint name="simplePostJsonCall" baseUrl="http://localhost:5701/TestService/PostAsJson"/>
    <endpoint name="simplePostXmlCall" baseUrl="http://localhost:5701/TestService/PostAsXml"/>
    <endpoint name="emptyPostCall" baseUrl="http://localhost:5701/TestService/EmptyPost" method="POST"/>
    <endpoint name="simpleGetCallWithHeaders" baseUrl="http://localhost:5701/TestService/GetAsJson">
      <headers>
        <add name="x-h1" value="xx-v1"/>
        <add name="x-h2" value="xx-v2"/>
      </headers>
    </endpoint>

    <!-- ServiceStack client -->
    <endpoint name="getUserV1" baseUrl="http://localhost:1337/v1/users/{id}"/>
    <endpoint name="getUserV2" baseUrl="http://localhost:1337/v2/users/{id}"/>
    <endpoint name="updateUser" baseUrl="http://localhost:1337/v2/users" method="PUT"/>
    <endpoint name="addUser" baseUrl="http://localhost:1337/v2/users"/>
    <endpoint name="addUserEx" baseUrl="http://localhost:1337/v2/{pathPart}"/>
    <endpoint name="deleteUser" baseUrl="http://localhost:1337/v2/users/{id}" method="DELETE"/>
    <endpoint name="badGetUserrequest" baseUrl="http://localhost:1337/bad-get-user-request/users/{id}" timeout="2000"/>

  </httpClientEndpoints>

  <system.serviceModel>
    
    <bindings>
      <webHttpBinding>
        <binding name="plainWebBinding">
          <security mode="None"/>
        </binding>
        <binding name="plainWebBindingWithCredential">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    
    <services>
      <service name="DocaLabs.Http.Client.Integration.Tests._WcfServices.TestService">
        <endpoint address="http://localhost:5701/TestService/" 
                  binding="webHttpBinding"
                  bindingConfiguration="plainWebBinding" 
                  behaviorConfiguration="webBehavior" 
                  contract="DocaLabs.Http.Client.Integration.Tests._WcfServices.ITestService" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>