<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog autoReload="true">
    <targets>
      <target type="Console" name="Console" layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="Console" />
    </rules>
  </nlog>

  <system.serviceModel>

    <bindings>
      <webHttpBinding>
        <binding name="plainWebHttpBinding">
          <security mode="None" />
        </binding>
        <binding name ="webHttpsBinding">
          <security mode="Transport" />
        </binding>
        <binding name ="webHttpsCertifiedBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <services>

      <service name="DocaLabs.Http.Client.Integration.Tests.Setup.TestService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="plainWebHttpBinding" contract="DocaLabs.Http.Client.Integration.Tests.Setup.ITestService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5701/TestService"/>
          </baseAddresses>
        </host>
      </service>

    </services>

  </system.serviceModel>

</configuration>